body{
  font-family: 'Roboto', sans-serif;
}

p.name{
  font-size: 30px;
  padding-top: 5px;
  font-weight: bold;
  margin-bottom: 10px;
}

span {
  text-decoration: underline;
}

.profile-pic {
  width: auto;
  height: 300px;
  border-radius: 150px;
}

.header-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  height: 950px; 
  background-color: #EEEEEE;
}

h1.profile {
  font-size: 24px;
  padding: 30px;
  text-align: center;
}

.grid-container {
  display: grid;
  place-items: center;
  row-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 800px;
  padding-left: 10%;
  padding-right: 10%;
}

.place, .tech-interest, .programming-languages, .libraries-frameworks, .university, .graduation {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

.location, .interests, .languages, .libraries-frameworks, .education, .degree {
  text-align: center;
  width: 100%;
}

.badge {
  text-decoration: none;
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  margin: 3px;
  cursor: pointer;
}

.languages > span > img, .libraries-frameworks > span > img {
  border-radius: 50%;
}

/* @media(max-width: 1200px){
  .grid-container{
    grid-template-columns: 1fr;
  }

  .profile-container {
    height: 1500px;
  }

  h1{
    text-align: center;
  }
} */

@media(max-width: 800px){
  .grid-container{
    grid-template-columns: 1fr;
    height: 1200px;
    text-align: center;
  }

  .profile-container{
    height: 1400px;
  }

  h1{
    text-align: center;
  }


}

@media(max-width: 500px){
  .grid-container{
    grid-template-columns: 300fr;
    height: 1300px;
    text-align: center;
    padding: 0px;
    row-gap: 5px;
  }

  .profile-container{
    height: 1400px;
  }

  .degree{
    margin-bottom: 30px;
  }

  .place, .tech-interest, .programming-languages, .libraries-frameworks, .university, .graduation {
    padding: 10px;
    font-size: 13px;
  }
  
  .location, .interests, .languages, .libraries-frameworks, .education, .degree {
    text-align: center;
    width: 100%;
  }

  .badge {
    text-decoration: none;
    padding: 10px;
    font-size: 12px;
    font-weight: 500;
    margin: 3px;
    cursor: pointer;
  }


}



